.Navbar {
  display: flex;
  gap: 5px;

  a {
    font-size: 1.2rem;

    &:visited {
      color: blue;
    }
  }

  &__button {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: underline;
    font-size: 1.2rem;
    background-color: transparent;
    color: blue;
    cursor: pointer;
  }
}
